@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins&:wght@200;500;800&display=swap');

* {box-sizing: border-box}

body {
    font-family: 'Lato', sans-serif;
    background-color: #F2F5F9;
    font-weight: 200;
    font-size: 1rem;
}

.flex{
    margin-inline: 1rem;
    margin-bottom: 1rem;
    padding-inline: 1rem;
    padding-top: .5rem;
    display: flex;
    align-items: center;
}

.relative{
    position: relative;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.title {
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
}

.body {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 0.875rem;
    color: #677489;
}

.smalltext {
    padding-left: 1rem;
    font-weight: 800;
    text-align: left;
}

.smalltext-2{
    font-family: 'Lato';
    font-weight: 200;
    font-size: 0.875rem;
}

.border{
    border-top: #F2F5F9 1px solid;
}

.img-hero {
    border-radius: 15px;
    max-width: 100%;
}

.img-small{
    max-width: 35px;
    max-height: 35px;
    border-radius: 50%;
}

.pad-inline{
    padding-inline: 2rem;
}

.card{
    background-color: #FFFFFF;
    margin-inline: 15%;
    margin-block: 20%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    border-radius: 20px;
}

@media only screen and (min-width: 900px) {
 .card{
    margin-block: 10%;
    margin-inline: auto;
    max-width: 25%;
 }
}
